* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  color: #FF4081;
}

h2 {
  font-weight: bold;
  color: #1DE9B6;
}

footer {
  margin-top: 40px;
}